<h1>Asignaturas y Estudiantes del Profesor:</h1>
<br />
<h3>{{ profesor.nombre }}</h3>
<br />

@for (asignatura of profesor.asignaturas; track asignatura.nombre) {
<table class="table table-width table-striped">
  <thead>
    <tr>
      <th scope="col" class="col-5 table-primary">Asignatura</th>
      <th scope="col" class="col-7 table-primary">Estudiantes</th>
    </tr>
  </thead>
  <tbody>
      @for (estudiante of asignatura.estudiantes; track estudiante.nombre; let first = $first) {
        <tr>
          @if(first) {
            <th scope="row" class="col-5" [attr.rowspan]="asignatura.estudiantes.length">{{ asignatura.nombre }}</th>
          }
          <td class="col-7">{{ estudiante.nombre }}</td>
        </tr>
      }
  </tbody>
</table>
}
